<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="Settings">
    <option name="apiUrl" value="https://education.testrail.io/" />
    <option name="password" value="e3dTuhK.YxuipOmlIGLM" />
    <option name="userName" value="denispershintester@gmail.com" />
  </component>
</project>